.banner{
    object-fit: fill;
}

.buttons{
    margin-top: 10PX;
}

.text{
    padding: 20PX;
    text-align: center;
    margin: auto;
}

a:visited {
    color: inherit; 
    text-decoration:none;
}


